
.services {
    display: flex;
    padding: 2rem 1rem;
}


.services__imgcontainer {   
    width: 100%;
    max-width: 35rem;
    height: 35rem;
    margin-top: 5rem;
}
.services__imgcontainer img {
width: 100%;
height:100%;
}

/* content  */

.services__contentcontainer {
    flex: 1;
    
}


/* todocontainer -- */
.services__todolist {
    padding: 0 2rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 1rem;
    row-gap: 2rem;
}
/* todolist item -- */
.services__todolist-item {
    display: flex;
    align-items: center;
    box-shadow: 0 0 10px rgb(0 0 0 / 5%);
    padding: 0.8rem 2rem;
    border-radius: 5px;
    z-index: 1;
    background-color: #fff;
    font-size:0.8rem !important;
    font-weight: 800;

}
.services__todolist-item span{
    padding: 0.5rem 0.7rem;
    background-color: #deecf4;
    margin-right: 1rem;
    transition: .5s;
    border-radius: 3px; 
    cursor: pointer;
}
.services__todolist-item span:hover {
    background-color: var(--clr-primary);
}
.services__todolist-item .checkmark { 
    font-size: 20px;
    
}
.services__todolist-item h2{
    font-size: 20px !important;
}

/* media ---------------------------
----------------------------------------------- */

@media(max-width:1200px) {
   
    .services__todolist-item h2{
        font-size: 0.9rem !important;
    }
    
}

@media(max-width:900px) {
    .services__todolist-item h2{
        font-size: 1rem !important;
    }
    .services {
        flex-direction: column;
    }
    .services__imgcontainer {   
       
       margin: auto;
        margin-top: 0rem;
        height: 30rem;
    }
    
}

@media(max-width:600px) {
    .services__todolist-item h2{
        font-size: 1rem !important;
    }
    .services__todolist {
        padding: 0 2rem;
        display: grid;
        grid-template-columns:1fr;
        column-gap: 0rem;
        row-gap: 1.5rem;
    }
    .services__imgcontainer {   
        height: 25rem;
        margin: 1rem 0 3rem 0;
        
    }
}

@media(max-width:400px) {
    .services__imgcontainer {   
        height: 20rem;
        margin: 0rem 0 2rem 0;
        
    }
    .services__todolist {
        padding: 0 1rem;
    }
    .services__todolist-item h2{
        font-size: 0.9rem !important;
    }
}