.projects {
    background-image: url("https://tarn-react.envytheme.com/img/black-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}


.projects__cards {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 30px !important;
    column-gap: 15px !important;
    padding-top: 2rem;
    justify-content: center !important;
    /* place-items: center; */
}
.projects__cards-item {
    border-radius: 5px;
    transition: .5s;
    border: 1px solid #f5f3f2;
    background-color: white;
    text-align: center;
    cursor: pointer;
    padding-bottom: 1.4rem;
}
/* card img --------------- */
.projects__cards-item-img {
    overflow: hidden;
    position: relative;
}
.projects__cards-item-img img {
    max-width: 100%;
    display: block;
    object-fit: contain;
    transition: 0.5s transform ease;
}
.projects__cards-item-img:hover img {
    transform: scale(1.4);
}
/* orange wrapper on img  */
.projects__cards-item-img__wrapper {
position: absolute;
top: 0;
left: 10px;
width:95%;
height: 95%;
margin-top: 15px;
border-radius: 10px !important;
border-bottom: 10px !important;
display: flex;
justify-content: center;
align-items: center;
background-color: var(--clr-primary);
opacity: 0;
transition: 0.5s;
}
.projects__cards-item-img:hover .projects__cards-item-img__wrapper {
    opacity: 1;
}
.projects__cards-item-img__wrapper span {
    background-color: white;
    color: var(--clr-primary);
    padding:1rem 1rem;
    position: relative;
    border-radius: 50%;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

/* ----------- */
.projects__cards-item p{
    color: var(--clr-primary);
    font-weight: 600;
    font-size: 16.5px;
    
}
.projects__cards-item h2{
    padding: 1rem 0;
 font-size: var(--fs-500);
 color: #221638 !important;
    transition: .5s;
}


@media(max-width:900px) {
    .projects__cards {
        
        grid-template-columns: repeat(2,1fr);
     
    }   
}



@media(max-width:750px) {
    .projects__cards {
        padding: 0 4rem;
        grid-template-columns: 1fr;
     
    }   

    .projects__cards-item p{
        font-size: 16px;
        
    }
}

@media(max-width:600px) {
    .projects__cards {
        padding: 0 ;
        grid-template-columns: 1fr;
     
    }   

    .projects__cards-item p{
        font-size: 16px;
        
    }
   
    .projects__cards-item h2{
        padding: 0.7rem 0;
    }
}

@media(max-width:450px) {
    .projects__cards-item h2{
        padding: 0.5rem 0;
    }
}