.team {
    padding-top: 3rem !important;
    padding-bottom: 5rem !important;
}

.team__imgcontainer {
    display: grid;
    grid-template-columns:repeat(4,1fr);
    align-content: center;
    justify-content: center;
    place-items: center;
    /* gap: 20px; */
    row-gap: 20px;
    column-gap: 5px;
    margin: 2rem 0;
}


.team__imgcontainer-item {
text-align: center;

}
.team__imgcontainer-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.team__imgcontainer-item h2{
    margin-bottom: 5px;
    font-size: 23px;
    font-weight: 800;
    padding-top: 1rem;
}
.team__imgcontainer-item p{
    color: #ff5d22;
    font-size: 16px;
    font-weight: 600;
}

/* media ----------------------------------------------
-----------------------------------------------------
---- */

@media(max-width:1200px) {
    .team__imgcontainer-item {
        text-align: center;
        }
}

@media(max-width:900px) {
    .team__imgcontainer {
       row-gap: 20px;
       column-gap: 20px;
        grid-template-columns:repeat(2,1fr);
       
    }
    .team__imgcontainer-item {
        max-width: 23rem;
        width: 100%;
        height: auto;
    }

    .team {
        padding-bottom: 6rem !important;
    }
}

@media(max-width:600px){
    .team__imgcontainer {
       row-gap: 30px !important;
        grid-template-columns:1fr;
       
    }
}