.team {
    padding-top: 3rem !important;
    padding-bottom: 5rem !important;
}

.team__imgcontainer {
    display: grid;
    grid-template-columns:repeat(4,1fr);
    align-content: center;
    justify-content: center;
    place-items: center;
    /* gap: 20px; */
    row-gap: 20px;
    column-gap: 5px;
    margin: 2rem 0;
}


.team__imgcontainer-item {
text-align: center;
position: relative;
}
.team__imgcontainer-item img {
    max-width: 100%;
    display: block;
    cursor: pointer;
    object-fit: cover;
}
.team__imgcontainer-item h2{
    margin-bottom: 5px;
    font-size: 23px;
    font-weight: 800;
    padding-top: 1rem;
}
.team__imgcontainer-item p{
    color: #ff5d22;
    font-size: 16px;
    font-weight: 600;
}
.team__imgcontainer-item__icons {
position: absolute;
bottom: 4.7rem;
left: 0;
opacity: 0;
width: 100%;
display: flex;
justify-content: center;
transition: 0.7s;
}
.team__imgcontainer-item:hover  .team__imgcontainer-item__icons {
    opacity: 1; 
    transform: translateY(-1rem);
}

.team__imgcontainer-item__icons span {
    background-color: white;
    margin: 5px;
    padding:0.5rem 0.6rem;
    position: relative;
    border-radius: 50%;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.team__imgcontainer-item__icons span:hover{
    background-color: var(--clr-primary);
    color: white;
    cursor: pointer;
}

/* media ----------------------------------------------
-----------------------------------------------------
---- */

@media(max-width:1200px) {
    .team__imgcontainer-item {
        text-align: center;
        }
}

@media(max-width:900px) {
    .team__imgcontainer {
       row-gap: 20px;
       column-gap: 20px;
        grid-template-columns:repeat(2,1fr);
       
    }
    .team__imgcontainer-item {
        max-width: 23rem;
        width: 100%;
        height: auto;
    }

    .team {
        padding-bottom: 6rem !important;
    }
}

@media(max-width:600px){
    .team__imgcontainer {
       row-gap: 30px !important;
        grid-template-columns:1fr;
       
    }
}