
.header {
    background-image: url("https://tarn-react.envytheme.com/img/banner-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}


.header__section {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   padding-top: 5rem !important;
   padding-bottom:12rem !important;
}

/* content ----- */
.header__section__content {
    margin-top: 5rem;
}
.header__section__content h1 {
    font-size: var(--fs-800);
    margin-bottom: 1.2rem;
    animation-name: h1FadeInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 0.1s;
}
@keyframes h1FadeInLeft{
0% {
    opacity: 0;
    transform: translate3d(-10%,0,0);
}
100% {
    opacity: 1;
    transform: translateZ(0);
}
}

.header__section__content p{
    color: #6b6b84;
    line-height: 1.8;
    margin-bottom: 30px;
    font-weight: 600;
    font-size: var(--fs-para);
    animation-name: h1FadeInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 0.1s;
}
.header__section__content button {
    border: none;
    position: relative;
    display: inline-block;
    text-align:end;
    overflow: hidden;
    z-index: 1;
    color: #fff;
    background-color: #ff5d22;
    transition: .5s;
    border-radius: 5px;
    padding: 0.95rem 1.3rem 0.95rem 3.2rem;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
}
.header__section__content button span{
    position: absolute;
    top: 15px;
    left: 15px;
    
}
.header__section__content button .arrowright {
    height: 1.3rem;
    width: 1.3rem;
}


/* img container ------ */
.header__section__img {
    max-width:35rem;
    width: 100%;
    height: 30rem;

    animation-name: ImgFadeInTop;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 0.1s;
}
@keyframes ImgFadeInTop {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }   
}
.header__section__img img{
    width: 100%;
    height: 100%;
}


/* media queries ---- */
@media(max-width:1200px) {

}

@media (max-width:900px) {
    .header__section {
        grid-template-columns: 1fr;
        padding-top: 1rem !important;
      
    }
    .header__section__content {
        margin-top: 2rem !important;
        text-align: center;
        margin-bottom: 5rem;
    }
    .header__section__img {
        margin: auto;
    }
}



@media(max-width:600px) {
    .header__section {
        padding-top: 1rem !important;
        padding-bottom:8rem !important;
     }
}

@media(max-width:450px) {
    .header__section__img {
        max-width:35rem;
        width: 100%;
        height: 20rem;
    }    
    .header__section {
        padding-top: 1rem !important;
        padding-bottom:8rem !important;
     }
}