.blog {
    padding-top: 2rem !important;
    padding-bottom: 4rem !important;
    background-color: #fffbf5;
    /* padding: 4rem inherit !important;  */
}

.blog__cards {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 30px !important;
    column-gap: 15px !important;
    padding-top: 2rem;
    /* padding-bottom: 2rem; */
} 

.blog__cards-item {
    border-radius: 5px;
    transition: .5s;
    border: 1px solid #f5f3f2;
    background-color: white;
    /* text-align: center; */
    cursor: pointer;
    padding-bottom: 1.4rem !important;

}
.blog__cards-item >  img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 8px;
}

.blog__cards-item .blog__cards-item__peopleinfo p{
    font-weight: 600;
    font-size: 15px;
    color: #6b6b84;
    
}
.blog__cards-item h2{
    padding: 0rem 1rem;
 font-size: var(--fs-500);
 color: #221638 !important;
    transition: .5s;
}
.blog__cards-item h2:hover {
    color: var(--clr-primary) !important;
    /* color: rebeccapurple !important; */
}
.blog__cards-item__peopleinfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
}
.blog__cards-item__peopleinfo img {
    width: 35px;
    height: 35px;
    margin-right: 10px;
    border-radius: 50%!important;
}

/* media --------------------------------
-------------------------------------------- */

@media(max-width:900px) {
    .blog__cards {
        
        grid-template-columns: repeat(2,1fr);
    } 
    
} 
@media(max-width:750px){
    .blog__cards-item__peopleinfo {
        padding: 0.9rem 0.5rem;
    }
    .blog__cards-item h2{
     font-size: 1.1rem;
     padding: 0 0.5rem;
    }
}


@media(max-width:600px) {
    .blog__cards {
        
        grid-template-columns:1fr;

    } 

   
} 

@media(max-width:450px) {
  
}