

:root{


/* FONT WEIGHT ----   */
--fs-bold:700;
--fs-semi-bold:500;
--fs-regular:400;

/* FONTS  */

--fs-800:3.5625rem;   /* 57px  = h1   */
--fs-700:2.75rem;    /* 44px  = h2   */
--fs-600:2.1875rem;  /* 35px    */
--fs-575:1.625rem;    /* 26px    */
--fs-550:1.5625rem;  /* 25px    */
--fs-500:1.5rem;   /* 24px    */
--fs-450:1.25rem;  /* 20px    */
--fs-400:1.0625rem;  /*   17px  */
--fs-370:1.03125rem;  /*   16.5px  */
--fs-350:1rem;     /* 16px     */
--fs-300:0.9375rem; /* 15px    */


--fs-nav-btn:var(--fs-350);
--fs-para:var(--fs-400);

/* COLORS ---- */

--clr-primary:#ff5d22;

}

@media(max-width:1200px) {
    :root{
        --fs-800:2.7rem;    
        --fs-700:2.5rem;   
        --fs-para:1rem;
    }
}

@media(max-width:900px) {
    :root{
        --fs-800:2.3rem;  
        --fs-700:2rem;   
        --fs-500:1.28rem;   
    }
}
@media(max-width:600px) {
    :root{
        --fs-800:2rem;    
        --fs-700:1.6rem;   
        --fs-500:1.25rem;  
    }
}

@media(max-width:450px) {
    :root{
        --fs-800:1.7rem;    
        --fs-700:1.4rem;
        --fs-500:1.1rem;  
        --fs-para:1rem; 
    }
}