
.navbar__dropdown {
    position: absolute;
    top: 4rem;
    color: black;
    background-color: white;
    font-size: 16.5px;
    font-weight: 700;
    padding: 2rem 20px;
    width: 15rem;
}

.navbar__dropdown.clicked {
    display: none;
}

.navbar__dropdown li {
    padding-bottom: 1.2rem ;
}
.navbar__dropdown li:last-child{
    padding-bottom: 0;
}